{% include 'partials/head.html' %}
<body>

        {% include 'partials/header.html' %}



        <div id="map" style="width:100%; height:600px;"></div>


 <script type="text/javascript">
    var map = L.map('map').setView([37.773972, -122.43129], 12);
var stuff=1;

    var osmLayer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 18,
        attribution: 'Data, imagery and map information provided by <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> and contributors.'
    });

    map.addLayer(osmLayer);

    fetch('/static/data/sf_hood_shapes.geojson').then(
        function(response){
            return response.json()
        }).then(function(json){

            L.geoJSON(json['features'][10]).addTo(map);

        })

</script>















    <div class="container">

        <h1>Data for neighborhood {{ neighborhood }}</h1>

        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, nemo. Soluta repellat cupiditate odit repellendus in eum dignissimos! Beatae quidem maxime animi quia totam voluptatem nihil alias id. Distinctio, laborum.
        </p>


        <p>
            Total number of incidents: {{ incidents | length }}
        </p>


    </div>



{% include 'partials/footer.html' %}
</body>
