{% include 'partials/head.html' %}

<body>

    {% include 'partials/header.html' %}


    <div class="container">

      <div class="subhedContainer">

        <h2 class="subhed">The San Francisco Police Department averages about 36 calls each day for mentally
          disturbed people and suicide attempts. Interacting with the mentally ill has become
          a daily part of the job for patrol officers, and 5150 holds have been increasing for years.

        </h2>
        
      </div>

        <h1>View 5150 incidents in your neighborhood</h1>

        <p>
          One of the more serious types of mental-health incidents is a 5150 hold, which occurs
          when an officer believes a person is a threat to himself or others or is gravely disabled.
          The person is put under a 72-hour psychiatric evaluation in a hospital. 5150
          holds by the SFPD have increased 35 percent over the last 10 years.
        </p>


        <p>
            Total number of incidents: <strong>{{ incidents | length }}</strong>
        </p>

    </div>


    <div class="container">
        <h2>View by year</h2>
        <select>
          <option>2007</option>
          <option>2008</option>
          <option>2009</option>
          <option>2010</option>
          <option>2011</option>
          <option>2012</option>
          <option>2013</option>
          <option>2014</option>
          <option>2015</option>
          <option>2016</option>
        </select>

      <!--  <ul>
            <li><a href="/year/2007">2007</a></li>
            <li><a href="/year/2008">2008</a></li>
            <li><a href="/year/2009">2009</a></li>
            <li><a href="/year/2010">2010</a></li>
            <li><a href="/year/2011">2011</a></li>
            <li><a href="/year/2012">2012</a></li>
            <li><a href="/year/2013">2013</a></li>
            <li><a href="/year/2014">2014</a></li>
            <li><a href="/year/2015">2015</a></li>
            <li><a href="/year/2016">2016</a></li>
        </ul> -->
    </div>


    <div class="container">
        <h2>View by police district</h2>
        <table class="table">

            {% for name, count in districts %}
                <tr>
                    <td><a href="/pd/{{name}}">{{ name }}</a></td>

                    <td>{{ count }}</td>

                </tr>
            {% endfor %}
        </table>

    </div>


{% include 'partials/footer.html' %}


</body>
