{% include 'partials/head.html' %}
<body>

        {% include 'partials/header.html' %}



    <div class="container">


    <div id="month-chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>



<script>

Highcharts.chart('month-chart', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Monthly Average Rainfall'
    },
    subtitle: {
        text: 'Source: WorldClimate.com'
    },
    xAxis: {
        categories: [
            'Jan',
            'Feb',
            'Mar',
            'Apr',
            'May',
            'Jun',
            'Jul',
            'Aug',
            'Sep',
            'Oct',
            'Nov',
            'Dec'
        ],
        crosshair: true
    },

    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
        name: 'Incidents',
        data: {{ stuff }}
    }]
});

</script>






        <h1>Data for year {{ year }}</h1>

        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, nemo. Soluta repellat cupiditate odit repellendus in eum dignissimos! Beatae quidem maxime animi quia totam voluptatem nihil alias id. Distinctio, laborum.
        </p>


        <p>
            Total number of incidents: {{ incidents | length }}
        </p>


        <table class="table">
            {% for month, count in month_count %}
                <tr>
                    <td>{{month}}</td>
                    <td>{{count}}</td>
                </tr>
            {% endfor %}
        </table>

        <table class="table">
            {% for name, count in district_count %}
                <tr>
                    <td>{{name}}</td>
                    <td>{{count}}</td>
                </tr>
            {% endfor %}
        </table>



        <table class="table">
            <thead>
                <tr>
                    <th>Incident number</th>
                    <th>Date</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                {% for incident in incidents %}
                    <tr>
                        <td><a href="/incidents/{{incident.IncidntNum}}">{{incident.IncidntNum}}</a></td>
                        <td>{{incident.datetime}}</td>
                        <td>{{incident.Address}}</td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>


    </div>



{% include 'partials/footer.html' %}
</body>
