{% include 'partials/head.html' %}
<body>

    <div class="container">

        <h1>Data for year {{ year }}</h1>

        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, nemo. Soluta repellat cupiditate odit repellendus in eum dignissimos! Beatae quidem maxime animi quia totam voluptatem nihil alias id. Distinctio, laborum.
        </p>


        <p>
            Total number of incidents: {{ incidents | length }}
        </p>


        <table class="table">
            {% for month, count in month_count %}
                <tr>
                    <td>{{month}}</td>
                    <td>{{count}}</td>
                </tr>
            {% endfor %}
        </table>

        <table class="table">
            {% for name, count in district_count %}
                <tr>
                    <td>{{name}}</td>
                    <td>{{count}}</td>
                </tr>
            {% endfor %}
        </table>



    </div>



{% include 'partials/footer.html' %}
</body>
